@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* default codes */
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    line-height: 1.5;
}
:root {
    --bg-color: #fcf2e8;
    --text-color: #fff;
    --main-color: #5dff33;

    /* social icons color  */
    --facebook: #3b5999;
    --twitter: #55acee;
    --whatsapp: #25D366;
    --linkedin: #007785;
    --instagram: #e4405f;
}

::selection {
    background: var(--main-color);
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: var(--bg-color);
}

html::-webkit-scrollbar-thumb {
    background: linear-gradient( var(--twitter), var(--main-color));
    border-radius: 5rem;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: #444;
    padding-left: 30rem;
}

section {
    padding: 1rem 5%;
    min-height: 100vh;
}

.heading {
    font-size: 4rem;
    padding-bottom: 1rem;
    color: var(--text-color);
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: normal;
}

.heading span {
    color: var(--main-color);
    text-transform: uppercase;
}

.btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.8rem 3rem;
    background: var(--main-color);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
    transition: .3s;
}

.btn:hover {
    background: #111;
    letter-spacing: 0.2rem;
}

.email-low {
    text-transform: lowercase;
}

/* custom styles css starts */

/* header area css styles ends */

header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    flex-flow: column;
    padding: 4rem 2rem;
    width: 30rem;
    text-align: center;
}

header .logo {
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    font-weight: 400;
}

header .logo span {
    text-transform: uppercase;
    color: var(--main-color);
}

header .navbar a {
    display: block;
    font-size: 2rem;
    color: #fff;
    margin: 2rem 0;
    transition: all .3s ease;
}

header .navbar a:hover {
    color: var(--main-color);
    letter-spacing: 0.2rem;
}

header .follow a {
    font-size: 2.5rem;
    color: #fff;
    margin: 0rem 0.7rem;
    transition: all .3s ease;
}

header .follow a:hover {
    color: var(--main-color);
}

/* .cursor-none {
    display: none;
} */

#menu-bars {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 10000;
    background: var(--main-color);
    color: #fff;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* cursor css */

.cursor-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 4rem;
    background: var(--main-color);
    color: #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cursor-1.active {
    width: 5rem;
    height: 5rem;
    opacity: 0.4;
    background: var(--text-color);
    mix-blend-mode: difference;
}

.cursor-1 .current {
    color: #fff;
    font-size: 2.5rem;
}

.cursor-1 .current.active {
    font-size: 3rem;
    color: #000  !important;
    background: transparent;
    border-radius: 50%;
    opacity: 1;
    z-index: 100000;
}

.cursor-2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 7rem;
    height: 7rem;
    border: .3rem solid var(--main-color);
    color: #fff;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 10000;
    padding: 3px;
    opacity: .8;
    transition: .1s;
}

.cursor-2.active {
    border: .3rem solid var(--text-color);
    opacity: 0.3;
    padding: 10px;
    box-shadow: hsl(200 100% 99% / 5%);
    border-radius: 50%;
}

/* header area css styles ends */


/* home area css styles starts */

.image img {
    width: 25vw;
}

.home {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .content {
    flex: 1 1 40rem;
}

.home .image {
    flex: 1 1 40rem;
}

.home .image img {
    /* width: 100%; */
    float: right;
    object-fit: cover;
    border: 5px solid #5DFF33;
    border-radius: 100%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% 
    {
        transform: translateY(0);
    }
    50% 
    {
        transform: translateY(-2.4rem);
    }
    0% 
    {
        transform: translateY(0);
    }
}

.home .content .hi {
    font-size: 2rem;
    color: var(--main-color);
}

.home .content h3 {
    font-size: 4.5rem;
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 400;
}

.home .content h3 span {
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 400;
}

.home .content .info {
    font-size: 2.5rem;
    color: var(--text-color);
    padding: 0.5rem 0;
    text-transform: none !important;
}

.home .content .text {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0.5rem 0;
    text-transform: none;
}


/* home area css styles ends */

/* about area css styles starts */

.about .row-1 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.about .row-1 .image {
    flex: 1 1 25rem;
}

.about .row-1 .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid #fff;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    animation: aboutImage 4s ease-in-out infinite;
}

.about .row-1 .content {
    flex: 1 1 50rem;
}

.about .row-1 .content h3 {
    color: #fff;
    font-size: 3.5rem;
    text-transform: none;
    font-weight: 500;
}

.about .row-1 .content h3 span {
    color: var(--main-color);
}

.about .row-1 .content p {
    color: #fff;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    text-transform: none;
}

.about .row-1 .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 0;
}

.about .row-1 .content .box-container .box {
    flex: 1 1 20rem;
}

.about .row-1 .content .box-container .box p {
    text-transform: capitalize;
}

.about .row-1 .content .box-container .box p span{
    color: var(--main-color);
}

.about .row-1 .content .box-container .box p.email-low {
    text-transform: lowercase;
    font-size: 14px;
}

.about .row-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
}

.about .row-2 .skills {
    flex: 1 1 40rem;
}

.about .row-2 .skills .progress {
    padding: 1rem 0;
}

.about .row-2 .skills .progress h3 {
    display: flex;
    justify-content: space-between;
    padding: 0.7rem 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: .1rem;
}

.about .row-2 .skills .progress h3 span {
    color: var(--main-color);
}

.about .row-2 .skills .progress .bar {
    width: 100%;
    background: #ccc;
    overflow: hidden;
    height: 1rem;
    border-radius: 50rem;
}

.about .row-2 .skills .progress .bar span {
    display: block;
    height: 100%;
    background: var(--main-color);
}

.about .row-2 .skills .progress:nth-child(1) .bar span {
    width: 95%;
}

.about .row-2 .skills .progress:nth-child(2) .bar span {
    width: 80%;
}

.about .row-2 .skills .progress:nth-child(3) .bar span {
    width: 75%;
}

.about .row-2 .skills .progress:nth-child(4) .bar span {
    width: 85%;
}

.about .row-2 .box-container {
    flex: 1 1 40rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row-2 .box-container .box {
    flex: 1 1 25rem;
    background: #fff;
    padding: 0.2rem;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    padding: 2rem 0rem;
    text-align: center;
}

.about .row-2 .box-container .box h3 {
    color: var(--main-color);
    font-size: 3rem;
}

.about .row-2 .box-container .box p {
    color: gray;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}


/* about area css styles ends */

/* service style starts */

.service .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.service .box-container .box {
    flex: 1  1 30rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.service .box-container .box i {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
}

.service .box-container .box h3 {
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.service .box-container .box p {
    color: #666;
    font-size: 1.5rem;
    padding-top: 0.5rem;
    text-transform: none;
}

/* service style ends */

/* experience style starts */

.experience .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.experience .box-container .box {
    position: relative;
    flex: 1 1 33rem;
    border-left: .2rem solid var(--main-color);
    padding-left: 2rem;
    padding-right: 0rem;
}

.experience .box-container .box i {
    position: absolute;
    top: -1.5rem;
    left: -1.5rem;
    color: #fff;
    background: var(--main-color);
    font-size: 1.5rem;
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    border-radius: 50%;
    text-align: center;
}

.experience .box-container .box::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: -1.1rem;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    background: var(--main-color);
}

.experience .box-container .box .content {
    background: #fff;
    padding: 1.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.experience .box-container .box .content span {
    color: #fff;
    font-size: 1.5rem;
    background: var(--main-color);
    border-radius: 50rem;
    padding: 0.4rem 1rem;
}

.experience .box-container .box .content h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: #111;
}

.experience .box-container .box .content p {
    font-size: 1.5rem;
    color: #666;
    text-transform: none;
}

/* experience style ends */

/* portfolio style starts */

.portfolio .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.portfolio .box-container .box {
    flex: 1 1 30rem;
    height: 25rem;
    position: relative;
    overflow: hidden;
    border: 1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    background: var(--text-color);
}

.portfolio .box-container .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 1;
    transition: .4s ease-in;
}

.portfolio .box-container .box:hover img {
    width: 75%;
    height: 75%;
}

.portfolio .box-container .box h3 {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    font-size: 2rem;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
}

.portfolio .box-container .box .icons {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.portfolio .box-container .box .icons a {
    display: block;
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    background: #eee;
    color: #333;
    font-size: 1.7rem;
    line-height: 4rem;
    text-align: center;
    margin-bottom: 1rem;
    transition: all .4s ease-in-out;
}

.portfolio .box-container .box .icons a:hover {
    background: var(--main-color);
    color: #fff;
}

/* portfolio style ends */

/* contact section style starts */

.contact .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-bottom: 2rem;
}

.contact .box-container .icons {
    flex: 1 1 25rem;
    text-align: center;
    padding: 2rem;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
}

.contact .box-container .icons i {
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: #fff;
    background: var(--main-color);
    border-radius: 50%;
}

.contact .box-container .icons h3 {
    color: #444;
    font-size: 2.2rem;
    padding-top: 1rem;
}

.contact .box-container .icons p {
    color: #666;
    font-size: 1.5rem;
    padding-top: 0.5rem;
}

.contact .row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contact .row form {
    flex: 1 1 55rem;
    background: #fff;
    padding: 0rem 2rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
}

.contact .row .map {
    flex: 1 1 25rem;
    border: 1rem solid #fff !important;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    width: 100%;
}

.contact .row form .box,
.contact .row form textarea {
    width: 100%;
    border-bottom: .1rem solid #333;
    color: #333;
    text-transform: none;
    font-size: 1.5rem;
    padding: 1rem 0;
    margin: 1rem 0;
}

.contact .row form .box:focus,
.contact .row form textarea:focus {
    border-color: var(--main-color);
}

.contact .row form .box::placeholder,
.contact .row form textarea::placeholder {
    text-transform: capitalize;
}

.contact .row form textarea {
    height: 20rem;
    resize: none;
}

.contact .row form .btn {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.contact .icons p span {
    color: #000;
    font-weight: 600;
}

/* contact section style ends */

/* footer section style starts */

.footer {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    background: #fff;
    padding: 2.5rem;
}

.footer p {
    font-size: 1.5rem;
    color: #666;
    background: #fff;
}

/* footer section style ends */

/* scroll top icon  */

.top {
    position: fixed;
    bottom: 1.2rem;
    right: 2rem;
    animation: topButton 3s ease-in-out infinite;    
}

@keyframes topButton {
    0% 
    {
        transform: translateY(0);
    }
    50% 
    {
        transform: translateY(-2.4rem);
    }
    0% 
    {
        transform: translateY(0);
    }
}

.top i {
    background: var(--main-color);
    color: var(--text-color);
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2.5rem;
    border-radius: 50%;
}

.top:hover i {
    box-shadow: 0 0 5rem var(--main-color);
    color: #fff;
}

















/* media queries */

@media (max-width: 1900px) {
    .contact .row {
        margin-bottom: 50px;
    }
}

@media (max-width: 1460px) {
    
    .about .row-2 .box-container .box {
        flex: 1 1 19.3rem;
    }

    .home {
        padding-top: 40px;
    }

    .home .image {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home .image img {
        width: 70%;
        float: right;
        object-fit: cover;
    }
    
    .contact .box-container {
        margin-bottom: 40px;
    }

    .contact .row {
        margin-bottom: 50px;
    }

    .about .row-1 .content .box-container .box p span {
        font-size: 12px;
    }

    .about .row-1 .content .box-container .box p {
        font-size: 11px;
    }
}

@media (max-width: 1459px) {
    
    .home {
        padding-top: 40px;
    }

    .home .image {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
        margin-bottom: 40px;
    }

    .home .image img {
        width: 50%;
        float: right;
        object-fit: cover;
    }
    
    .portfolio .box-container .box {
        flex: 0 1 40rem;
        height: 27rem;
    }

    .experience .box-container .box {
        flex: 0 1 40rem;
    }

    .contact .box-container .icons {
        flex: 0 1 40rem;
    }

    .contact .box-container {
        margin-bottom: 40px;
    }

    .contact .row {
        margin-bottom: 55px;
    }

    .contact .row .map {
        display: flex;
        height: 300px;
    }
}

@media (max-width: 1200px) {

    .about .row-1 {
        flex-direction: column-reverse;
    }

    .about .row-1 .content .box-container .box p {
        font-size: 1.2rem;
    }

    .about .row-2 .skills {
        flex: 1 1 25rem;
    }

    .about .row-2 .box-container .box {
        flex: 1 1 20rem;
    }

    .contact .box-container .icons {
        flex: 1 1 20rem;
    }

}

@media (max-width: 991px) {

    html {
        font-size: 55%;
    }

    body {
        padding: 0;
    }

    #menu-bars {
        display: initial;
    }

    header {
        left: -120%;
    }

    header.active {
        left: 0%;
        transition: .3s ease-in-out;
    }

    .about .row-2 .box-container .box {
        flex: 1 1 20rem;
    }

    .experience .box-container .box {
        flex: 0 1 42rem;
        padding-right: 0;
    }

    .home {
        padding-top: 50px;
    }

    .about .row-1 .image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
    }

    .about .row-1 .image img {
        width: 45%;
        border-radius: 100%;
    }

    .portfolio .box-container .box {
        flex: 0 1 42rem;
        height: 28rem;
    }

    @keyframes aboutImage {
        0% 
        {
            transform: translateY(0);
        }
        50% 
        {
            transform: translateY(-2.4rem);
        }
        0% 
        {
            transform: translateY(0);
        }
    }

}

@media (max-width: 767px) {

    .about .row-1 {
        flex-direction: column-reverse;
    }

    .about .row-1 .box-container .box p {
        font-size: 1.4rem !important;
    }
    .about .row-1 .box-container .box span {
        font-size: 1.4rem;
    }
    
    .about .row-2 .box-container .box {
        flex: 1 1 25rem;
        margin-bottom: 10px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .service .box-container .box {
        flex: 1  1 25rem;
        margin-bottom: 10px;
    }
    
    .experience .box-container .box {
        flex: 1 1 30rem;
        padding-right: 0;
        margin-bottom: 15px;
    }
    
    @keyframes aboutImage {
        0% 
        {
            transform: translateY(0);
        }
        50% 
        {
            transform: translateY(-2.4rem);
        }
        0% 
        {
            transform: translateY(0);
        }
    }

}

@media (max-width: 450px) {

    html {
        font-size: 50%;
    }

    header {
        width: 100%;
    }

    .about .row-1 {
        flex-direction: column-reverse;
    }

    .about .row-1 .box-container .box p {
        font-size: 1.4rem !important;
    }
    .about .row-1 .box-container .box span {
        font-size: 1.4rem;
    }

    .experience .box-container .box {
        padding-right: 0;
    }

    .portfolio .box-container .box {
        flex: auto;
        margin-bottom: 15px;
    }

    .home .image {
        flex: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .home .image img {
        width: 100%;
        float: right;
        object-fit: cover;
    }

    .about .row-1 .image img {
        width: 100%;
    }

    .about .row-1 .image {
        margin-top: 60px;
    }
    
    @keyframes aboutImage {
        0% 
        {
            transform: translateY(0);
        }
        50% 
        {
            transform: translateY(-2.4rem);
        }
        0% 
        {
            transform: translateY(0);
        }
    }
}

@media (max-width: 350px) {
    
    .about .row-2 .box-container .box h3 {
        font-size: 2rem;
    }

    .about .row-1 .box-container .box p {
        font-size: 1.5rem !important;
    }
    .about .row-1 .box-container .box span {
        font-size: 1.5rem;
    }

    .about .row-1 {
        flex-direction: column-reverse;
    }

    .footer p {
        font-size: 1.5rem;
    }

    .about .row-1 .image img {
        width: 100%;
    }

    .about .row-1 .image {
        margin-top: 60px;
    }

    @keyframes aboutImage {
        0% 
        {
            transform: translateY(0);
        }
        50% 
        {
            transform: translateY(-2.4rem);
        }
        0% 
        {
            transform: translateY(0);
        }
    }

}